.box-body {
padding: 1rem;
}

.box-border {
  border-style: solid;
  border-color: #41aebd;
  border-radius: 10px;
  border-width: 2px;
}

.border-radius-top {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.border-radius-bottom {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
