.filtermodal-footer {
  justify-content: center;
  background-color: #efefef;
}

.filtermodal-header {
  background-color: #41aebd;
  padding: 8px 12px;
  color: white;
}

.filtermodal-footer-error {
  transform: translateX(80%); white-space: nowrap;
}

.filtermodal-close {
  transform: scale(0.90);
}

.filtermodal-width {
  max-width: 720px;
}

.inserting {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.inserting {
  display: flex;
  align-items: center;
}

.invalid-input {
  font-size: small;
}

.ml-10 {
  margin-left: 10px
}

.mb-10 {
  margin-bottom: 10px
}

.input-name {
  max-width: fit-content;
}

.box-width {
  width: 170px;
  min-width: 170px;
}

.labels {
  width: 100px;
  min-width: 100px;
  display: flex;
  align-items: center;
}

.error-width {
  min-width: max-content;
}

.add-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.criterias-scroll {
  height: 149px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -10px;
}
